body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #1991b9;
    color: white;
    padding: 10px 20px;
    text-align: center;
}
nav ul {
    list-style: none;
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 0 10px;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
main {
    padding: 0;
}
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #f1f1f1;
    margin-top: 20px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 35px;
}



/* Centriranje sadržaja na stranici */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    color: white;
    flex-direction: column;
}

/* Stilizacija naslova */
h1 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}
#profilna img{
    width: 30px; /* Slika zauzima 100% širine kontejnera */
    height: 30px; /* Slika zauzima 100% visine kontejnera */
    object-fit: cover;
}
#profil{
    font-size: 16px;
    display: flex;
    gap:60px;
    justify-content: space-between;
  
}
#natpis a{
    color: white;
    text-decoration: none;
    padding-right: 5px;
}